body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 2rem;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.input-group {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background: rgb(19, 128, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.edit {
  background: #701a3b;
}

.delete {
  background: #1d3474;
}
